@import url('https://fonts.googleapis.com/css2?family=Nico+Moji&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-logo: "Nico Moji", sans-serif;
  --font-sans: var(--font-poppins);

  --color-brand-beige: #FFFCF2;
  --color-brand-muted: #CCC5B9;
  --color-brand-gray: #403D39;
  --color-brand-dark: #252422;
  --color-brand-orange: #EB5E28;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Firefox */
}